[duo]
; Duo integration key
ikey = {{duosecurity.ikey}}
; Duo secret key
skey = {{duosecurity.skey}}
; Duo API host
host = {{duosecurity.host}}
; Send command for Duo Push authentication
pushinfo = yes
autopush = yes
prompts = 1
